## -*- conf -*-

max_peers      = 100
max_peers_seed = 50
max_uploads    = 5
download_rate  = 0
upload_rate    = 100

directory = /srv/torrents
session   = /srv/torrents/.sessions

schedule = watch_directory,5,5,load_start=/srv/torrents/*.torrent
schedule = untied_directory,5,5,stop_untied=

port_range  = 49152-50000
port_random = yes

dht      = auto
dht_port = 6881

use_udp_trackers = yes

encryption = require

check_hash = yes
safe_sync  = yes

session_save
