[user]
	name = Michael Walker
	email = {{ .email }}
	signingkey = {{ .git.sign.key }}
[push]
	default = matching
[fetch]
    prune = true
    pruneTags = true
    all = true
[diff]
    algorithm = histogram
    renames = true
[merge]
    conflictstyle = zdiff3
[alias]
	st = status
	d = diff
	cim = commit -m
	ca = commit -a
	cam = commit -a -m
	cp = cherry-pick
	p = push
	l = log
	a = add
	pl = pull
	co = checkout
	f = fetch
	r = rebase
	rem = remote
	b = branch
	cism = commit -S -m
	casm = commit -S -a -m
	t = tag -s
	su = submodule foreach git pull
	G = grep
[github]
	user = barrucadu
[init]
	defaultBranch = master
[pull]
	rebase = true
[gpg]
	format = {{ .git.sign.format }}
{{ if eq .git.sign.format "ssh" -}}
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed_signers
{{ end -}}
[commit]
	gpgsign = {{ .git.sign.force }}
[tag]
	gpgsign = {{ .git.sign.force }}
