{{ if .work -}}
mwalker@gocardless.com ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFHYxruYoO4CWgitj7XzaEgwHQmbizUvivA5P8Z1SeKb
{{ else -}}
barrucadu@azathoth ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIP5QUiJZ9TX1/fNAAg4UdtSM4AnpIgdSp7FsH1s1mnz
barrucadu@nyarlathotep ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKohcTDKF18ionBANAnGbcG/6lyJqCJWEza5nOss+Sh0
barrucadu@carcosa ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJVnNyKbBcHMY7Tcak07bL6svb/x8KXCL5WJRck9PaDI
{{ end -}}
