!!! Fonts
#define FONT           xft:Source Code Pro:size=12
#define FONT_BOLD      xft:Source Code Pro:bold:size=12
#define FONT_ITALIC    xft:Source Code Pro:italic:size=12
#define FONT_UNDERLINE xft:Source Code Pro:underline:size=12

!! Colours
#define COLOUR_THEME_FG             #fffff0
#define COLOUR_THEME_BG             #121212

#define COLOUR_THEME_BLACK          #222222
#define COLOUR_THEME_DARK_RED       #ff4500
#define COLOUR_THEME_DARK_GREEN     #698b69
#define COLOUR_THEME_DARK_YELLOW    #ffd700
#define COLOUR_THEME_DARK_BLUE      #68838b
#define COLOUR_THEME_DARK_MAGENTA   #c71585
#define COLOUR_THEME_DARK_CYAN      #7fffd4
#define COLOUR_THEME_LIGHT_GREY     #cccccc

#define COLOUR_THEME_DARK_GREY      #999999
#define COLOUR_THEME_LIGHT_RED      #ff7f00
#define COLOUR_THEME_LIGHT_GREEN    #00ee76
#define COLOUR_THEME_LIGHT_YELLOW   #ffff00
#define COLOUR_THEME_LIGHT_BLUE     #00bfff
#define COLOUR_THEME_LIGHT_MAGENTA  #da70d6
#define COLOUR_THEME_LIGHT_CYAN     #add8e6
#define COLOUR_THEME_WHITE          #f5fffa

*color0:  COLOUR_THEME_BLACK
*color8:  COLOUR_THEME_DARK_GREY
*color1:  COLOUR_THEME_DARK_RED
*color9:  COLOUR_THEME_LIGHT_RED
*color2:  COLOUR_THEME_DARK_GREEN
*color10: COLOUR_THEME_LIGHT_GREEN
*color3:  COLOUR_THEME_DARK_YELLOW
*color11: COLOUR_THEME_LIGHT_YELLOW
*color4:  COLOUR_THEME_DARK_BLUE
*color12: COLOUR_THEME_LIGHT_BLUE
*color5:  COLOUR_THEME_DARK_MAGENTA
*color13: COLOUR_THEME_LIGHT_MAGENTA
*color6:  COLOUR_THEME_DARK_CYAN
*color14: COLOUR_THEME_LIGHT_CYAN
*color7:  COLOUR_THEME_LIGHT_GREY
*color15: COLOUR_THEME_WHITE

!! XFT && Fonts
Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    full
Xft.hintstyle:  hintslight
Xft.rgba:       rgb
*font:          FONT
*boldFont:      FONT_BOLD
*italicFont:    FONT_ITALIC
*underlineFont: FONT_UNDERLINE

!! Terminal
URxvt.url-launcher:      chromium
URxvt.matcher.button:    1
URxvt.perl-ext-common:   default,matcher
URxvt.colorUL:           #86a2be
URxvt*buffered:          true
URxvt*background:        COLOUR_THEME_BG
URxvt*foreground:        COLOUR_THEME_FG
URxvt*cursorColor:       white
URxvt*underlineColor:    yellow
URxvt*perl-ext-common:   default
URxvt*scrollBar:         false
URxvt*saveLines:         1000
URxvt*transparent:       true
URxvt*inheritPixmap:     true
URxvt*shading:           10
URxvt*tintColor:         white
URxvt*internalBorder:    0
URxvt.imLocale:          en.GB.UTF-8
URxvt.iso14755_52:       0
URxvt.letterSpace:       -1

!! Emacs
Emacs*font:               Source Code Pro-12
Emacs*fullscreen:         fullboth
Emacs*toolBar:            0
Emacs*verticalScrollBars: off

!! Mouse
Xcursor*theme: aero
